<a href="https://colab.research.google.com/github/sanskriti-singh03/ai-ml-practice/blob/main/exp4sheet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create data
data = [
    ["John", 28, 50000, "Marketing"],
    ["Alice", 32, 65000, "IT"],
    ["Bob", 35, 72000, "Finance"],
    ["Emma", 24, 48000, "Marketing"],
    ["Mike", 40, 80000, "IT"],
    ["Sarah", 29, 55000, "HR"]
]

# Column names (cleaned)
columns = ["Name", "Age", "Salary", "Department"]

# Create DataFrame
df = pd.DataFrame(data, columns=columns)

# Save as CSV
df.to_csv("Sheet1.csv", index=False)

print("Sheet1.csv file created successfully!")

Sheet1.csv file created successfully!

In [ ]:
#Write a python program to import and export data using Pandas and
#show the details of the dataset like number of rows, columns, first five
#rows, size, number of missing values, sum, average, min and max
#values from the numerical columns.

In [2]:
import pandas as pd
df = pd.read_csv('Sheet1.csv')
print("Number of rows:",df.shape[0])
print("Number of columns:",df.shape[1])
print("\nColumn names:")
print(df.columns)
print("First five rows of dataset:")
print(df.head())
print("\n Missing values in each column:")
print(df.isnull().sum())
print("\nSum of numeric columns:")
print(df.sum(numeric_only=True))
print("\nMean of numeric columns:")
print(df.mean(numeric_only=True))
df.to_csv('output_1.csv', index=False)
print("Data imported and exported successfully.")

Number of rows: 6
Number of columns: 4

Column names:
Index(['Name', 'Age', 'Salary', 'Department'], dtype='object')
First five rows of dataset:
    Name  Age  Salary Department
0   John   28   50000  Marketing
1  Alice   32   65000         IT
2    Bob   35   72000    Finance
3   Emma   24   48000  Marketing
4   Mike   40   80000         IT

 Missing values in each column:
Name          0
Age           0
Salary        0
Department    0
dtype: int64

Sum of numeric columns:
Age          188
Salary    370000
dtype: int64

Mean of numeric columns:
Age          31.333333
Salary    61666.666667
dtype: float64
Data imported and exported successfully.